.aboutContainer {
  width: 688px;
  height: auto;
  background-color: #F2F2F2;
  padding:20px;
  margin-left:20px;
}
.aboutHeader {
  font-family: Microsoft JhengHei;
  font-size: 32px;
}
.placeholderFlex {
  display: flex;
  flex-direction: row;
}
.placeholderScaled {
  width: 240px; /* you can use % */
  height: auto;
}
.placeholderFlex p {
  margin-left: 20px;
}
.reusableComponentHeader {
  font-family: Microsoft JhengHei;
  font-size: 18px;
}
.reusableComponentFlex {
  display: flex;
  flex-direction: row;
  gap: 20px;
}