.headerFlex {
  display: flex;
  flex-direction: column;
  background-color: #CC0000;
  width: 300px;
  height: 115px;
  padding: 20px;
}
.js_framework {
  font-family: Microsoft JhengHei;
  font-size: 14px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}
.heading {
  font-family: Microsoft JhengHei;
  font-size: 48px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}