.background {
  /* The image used */
  // background-image: url(../public/manekinekofull.jpg);
  /* Full height */
  // height: 100%; 
  /* Center and scale the image nicely */
  // background-attachment: fixed;
  // height: 100vh;
  background-image: url(../manekinekofull.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 100%;
  margin: 0px;
}